---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Graph 2 poc">
  <main>
    <div id="gd"></div>
  </main>
</Layout>
<script>
    import * as Plot from "@observablehq/plot";
    import { dsv } from "d3";
    const data = await dsv(";","/data/etablissement.csv", (d) => {
    return {
        annee: d.annee,
        total: d.taux_brut_de_reussite_total_series,
        departement: d.departement
    }
    });
    console.log("data : ",data);

    let departements = [];
    let finalData = [];

    data.forEach((e) => {
        if (departements.length === 0 || !departements.includes(e.departement)) {
            departements.push(e.departement);
        }
    });


    console.log("departements: ",departements)
    for (let i = 0; i < departements.length; i++) {
        const currentDept = departements[i];
        const filtered = data.filter((r) => r.departement === currentDept);
        console.log(filtered)

        for (let annee = 2016; annee < 2023; annee++) {
            let finalDeptData = {
            departement : currentDept,
            total: 0,
            annee: annee
            };
            let nbretab = 0;


            filtered.forEach((u) => {
                if (parseInt(u.annee) === annee) {
                    nbretab = nbretab + 1;
                    console.log("total : ",finalDeptData.total," | ",u.total)
                    finalDeptData.total = finalDeptData.total + parseInt(u.total);
                }
            })

            console.log("total : ",finalDeptData.total, " | ",nbretab);
            finalDeptData.total = finalDeptData.total / nbretab;
            console.log("finalDeptData:",finalDeptData)
            finalData.push(finalDeptData);
        }
    }

    //const graphic = Plot.hexagon(data, Plot.hexbin({fill: "sum"}, {x: "annee", y: "total", symbol: "square"})).plot({color: {scheme: "YlGnBu"}});
    const graphic = Plot.plot({
    marks: [
    Plot.lineY(finalData, {x: "annee", y: "total", stroke: "departement", marker: "circle"})
    ]});

    const div = document.querySelector("#gd");
    div && div.append(graphic);
  </script>
