<div class="link-card">
    <a href="/schema1">Évolution du nombre d'établissements par département</a>
    <a href="/schema2">Évolution du taux de réussite total par département</a>
</div>
<style>
	.link-card {
		list-style: none;
		display: flex;
        justify-content: start;
        gap: 20px;
		padding: 10px;
		background-color: #23262d;
		border-radius: 7px;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        cursor: initial;
	}
	.link-card > a {
		text-decoration: none;
		line-height: 1.4;
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
</style>
